footer {
    .footer-logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 63px;
        margin-bottom: 30px;
        background: url('../images/bg-pattern-footer-mobile.svg');
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            padding: 30px;
        }
    }

    .footer-links-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: $Dark-Violet;
        border-top: solid $Dark-Grayish-Violet 1px;
        margin: 0 25px;
        .footer-links {
            h4 {
                color: $Dark-Grayish-Violet;
            }
        }

        @include desktop {
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;
        }
    }
}