footer {
    .footer-logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 14vh;
        margin-bottom: 30px;
        background: url('../images/bg-pattern-footer-mobile.svg');
        img {
            margin-bottom: 25px
        }
        .footer-icons {
            img {
                margin-right: 10px;
            }
        }
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            padding: 30px;
        }
    }

    .footer-links-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: $Dark-Violet;
        border-top: solid $Dark-Grayish-Violet 1px;
        margin: 0 25px;
        padding-top: 20px;
        .footer-links {
            text-transform: uppercase;
            font-size: 12px;
            h4 {
                color: $Dark-Grayish-Violet;
                margin-bottom: 30px;
            }
        }

        @include desktop {
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;
        }
    }
}