@import './abstract.scss';
@import './Components/Header.scss';
@import './Components/Footer.scss';


body {
    margin: 0;
    padding: 0;
    font-family: $font-karla;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5vw;
    .main-title {
        h1 {
            font-family: $font-dm;
        }
    }
    .different-section-container {
        @include desktop {
            display: flex;
            flex-direction: row;
        }

        .different-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            h4 {
                font-family: $font-dm;
            }
            p {
                text-align: center;
                color: $Dark-Grayish-Violet;
            }
        }
    }
}

.find-out-section {
    background: $Dark-Violet;
    background-image: url('../images/bg-pattern-how-we-work-mobile.svg');
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
    color: white;
    padding: 40px 20px;
    margin: 0 5vw;
    h2 {
        font-family: $font-dm;
        font-size: 2.5rem;
        font-weight: 400;
    }
    a {
        width: 115px;
        border: solid white 1px;
        padding: 8px 20px;
        font-size: .7rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    @include desktop{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
